body {
  background-color: #eee;
}

.page-header {
  border-bottom: 1px solid #ccc;
}

.container {
  width: auto;
  max-width: 980px;
}

.nav-area {
  margin-top: -10px;
}

blockquote {
  border-left: 5px solid #ccc;
}

.flash {
  background: #CEE5F5;
  padding: 0.5em;
  border: 1px solid #AACBE2;
}

.error {
  background: #F0D6D6;
  padding: 0.5em;
}

.quotes {
  margin-top: 10px;
}

.add-quote-form {
  border-bottom: 1px solid #ccc;
}

.plain-link {
  color: #333;
  text-decoration: none;
}

.plain-link:hover {
  color: #08C;
  text-decoration: none;
}

.quote {
  text-align: center;
  border: none;
}

.quote p {
  font-size: 32px;
  line-height: 36px;
}
