{% extends "layout.html" %}
{% block content %}
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="{{ url_for('login') }}" method="post" class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputUsername">Username</label>
      <div class="controls">
        <input type="text" id="inputUsername" name="username" placeholder="Username">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" name="password" placeholder="Password">
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </div>
  </form>
{% endblock %}
